.icon-button {
    background: none;
    border: none;
    color: inherit;
}

.close-icon {
    visibility: hidden;
}

.nav-link:hover .close-icon {
    visibility: visible;
}

.nav-link.active .close-icon {
    visibility: visible;
}

 pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }        /*字符串的样式*/
.number { color: darkorange; }    /*数字的样式*/
.boolean { color: blue; }        /*布尔型数据的样式*/
.null { color: magenta; }        /*null值的样式*/
.key { color: red; }            /*key值的样式*/
